h1{
    font-size: 22px;
}
h2{
    color: rgb(94, 94, 43);
}

.overAllbg{
    background-image: linear-gradient(to right, #0ccda3, #07927480, #acf0c0);
}

.title{
    padding-top: 50px ;
    
}
.mainImg img{
    width: 100px;
}
.firstRow{
    display: flex;
    /* background-image: linear-gradient(to right, #0ccda3, #0ccda380, #c1fcd3);
    padding-bottom: 70px; */
    padding: 70px 0px;
    justify-content: center;
    
}
.cube button{
    background-color: rgb(141, 141, 243);
    color: white;
    width: 200px;
    padding: 10px 20px ;
    margin: 5px;
}
.cube input{
    width: 190px;
    padding: 8px 4px;
    border: solid 2px;
    margin: 5px;
}
.firstRow img{
    width: 300px;
}

.secondRow{
    display: flex;
    /* background-image: linear-gradient(to right, #0ccda3, #0ccda380, #c1fcd3); */
    padding-bottom: 70px;
    justify-content: center;

}
.secondRow img{
    width: 300px;
}